<div class="panel panel-default" id="titleScenarioPanel" > 
	<h4 class="controlPanelHeaders"> <span> {{currentScenario.name}} </span> </h4>
</div>

<div class="panel panel-default" id="loadScenarioPanel" > 
	<h4 class="controlPanelHeaders"> <span> Load a scenario </span> </h4>
	<span class="plotchoiceSpans"> Please select a scenario to load :</span>
	<select ng-model="chosenScenario" >
		<option ng-repeat="x in scenarioList" value="{{x.name}}">{{x.name}}</option>
	</select>
	<button ng-click="loadScenario()"> Load </button>
	<button ng-click="deleteScenario()"> Delete </button>
</div>

<div class="panel panel-default" id="saveScenarioPanel" > 
	<h4 class="controlPanelHeaders"> <span> Save the current scenario </span> </h4>
	<input type="text" name="input" ng-model="saveScenarioName" placeholder="Scenario name...">
	<button ng-click="saveScenario()"> Save </button>
</div>

<div class="panel panel-default" id="editbuildingPanel" > 
	<h4 class="controlPanelHeaders"> <span> {{editPanelTitle}}  </span> </h4>
	<span class="plotchoiceSpans"> Build Date: {{currentBuiltDate}}</span>
	<slider floor="1900" ceiling="2017" step="1" precision="1" ng-model="currentBuiltDate" class="controlSlider"></slider>	
	<span class="plotchoiceSpans"> Renovation Date: {{currentRenovDate}}</span>
	<slider floor="{{currentBuiltDate}}" ceiling="2017" step="1" precision="1" ng-model="currentRenovDate" class="controlSlider"></slider>	
	<span class="plotchoiceSpans"> Material </span>
	<select ng-model="currentMaterialBuilding" >
		<option ng-repeat="x in matBuildingList" value="{{x}}">{{x}}</option>
	</select>
	<button ng-click="saveBuildingParams()"> Save parameters </button>
</div>