		    	<!-- <div id="rightContainer" > -->
			    	<descriptionpanel-directive  id="buildingPanel">
																												  
<!-- 			    	
						<div class="panel-heading" id=buildingPanelHeading>
							<h3 class="panel-title" id="buildingPanelTitle">
								<span> {{mouseOverBuildingName}} </span>
							</h3>
						</div>
						<div class="panel-body" id="buildingPanelBody" >
					        <table class="table" id="paramstable">
					          <tr ng-repeat="param in currentparams">
					            <td>{{param.name}}</td>
					            <td>{{param.value}}</td>
					          </tr>					   
						    </table>
						</div> -->
					</descriptionpanel-directive>
					<a href="#">
						<div id="costButtonPanel">
							<img ng-src="{{costimg}}" class="buttonLogoImg" ng-click="togglecost()"/>
						</div>
					</a>					
					<a href="#">
						<div id="energyButtonPanel">
							<img ng-src="{{energyimg}}" class="buttonLogoImg" ng-click="toggleenergy()"/>
						</div>
					</a>		
					<a href="#">
						<div id="footprintButtonPanel">
							<img ng-src="{{footprintimg}}" class="buttonLogoImg" ng-click="togglefootprint()"/>
						</div>
					</a>
					<div class="heatmapLegend">
						<img src="/img/yellowtored_lgd_energy.png" ng-show="energyheatmapBool"/>
					</div>
					<div class="heatmapLegend">
						<img src="/img/yellowtored_lgd_cost.png" ng-show="heatmapBool"/>
					</div>
					<div class="heatmapLegend">
						<img src="/img/yellowtored_lgd_energyperarea.png" ng-show="areaenergyheatmapBool"/>
					</div>	
					<div class="heatmapLegend">
						<img src="/img/greentopurple_lgd_footprint.png" ng-show="footprintheatmapBool"/>
					</div>
<!-- 					<div id="heatmapTitle" ng-show="heatmapBool || footprintheatmapBool || energyheatmapBool || areaenergyheatmapBool">
						<span> {{heatmapTitle}} heatmap</span>
					</div> -->
					<div class="panel panel-default" id="controlPanel" > 
<!-- 						<div class="controlpanelSection">
							<h4 class="controlPanelHeaders"> <span> Visible plot </span> </h4>
							<div>
							  <input type="radio" defaultChecked="true" value="EnergyConsumption" ng-model="outputConsumption">
							  <span class="plotchoiceSpans"> Energy Consumption </span>
						  	</div>
						  	<div>
							  <input type="radio" value="EnergyDistribution" ng-model="outputConsumption">
							  <span class="plotchoiceSpans"> Energy Distribution </span>
						 	</div>
						</div> -->
						<div class="controlpanelSection" id="costcontrolpanelSection" ng-style="costStyle" ng-show="coststate">
							<h4 class="controlPanelHeaders"> <span> Construction cost </span> </h4>
							<slider floor="0" ceiling="100" step="1" precision="2" ng-model-low="costLow" ng-model-high="costHigh" class="controlSlider"></slider>
							<span class="plotchoiceSpans"> Min Cost: {{costLow}} M$  </span><br>
							<span class="plotchoiceSpans"> Max Cost: {{costHigh}} M$ </span>
							<div> <span class="plotchoiceSpans"> Heatmap </span> <input type="checkbox" ng-model="heatmapBool"></div>
						</div>

						<div class="controlpanelSection" id="energycontrolpanelSection" ng-style="energyStyle" ng-show="energystate">
							<h4 class="controlPanelHeaders"> <span> Energy consumption </span> </h4>
							<slider floor="0" ceiling="15000" step="1" precision="2" ng-model-low="energyLow" ng-model-high="energyHigh" class="controlSlider"></slider>
							<span class="plotchoiceSpans"> Min Yearly Energy: {{energyLow}} kwH </span><br>
							<span class="plotchoiceSpans"> Max Yearly Energy: {{energyHigh}} kwH </span>
							<div> <span class="plotchoiceSpans"> Heatmap </span> <input type="checkbox" ng-model="energyheatmapBool"><span class="plotchoiceSpans"> Show graph </span> <input type="checkbox" ng-model="showEnergyGraph" ng-click="toggleEnergyGraph()"></div> 
						</div>

					  	<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="monthPickerOptions" class="controlpanelSection" ng-show="energyheatmapBool" id="monthpicker"></div>

						<div class="controlpanelSection" id="areaenergycontrolpanelSection" ng-style="areaenergyStyle" ng-show="energystate">
							<h4 class="controlPanelHeaders"> <span> Energy per Area </span> </h4>
							<slider floor="0" ceiling="2.4" step="0.01" precision="2" ng-model-low="areaenergyLow" ng-model-high="areaenergyHigh" class="controlSlider"></slider>
							<span class="plotchoiceSpans"> Min Yearly energy/GSF: {{areaenergyLow}} kwH/m. sq </span><br>
							<span class="plotchoiceSpans"> Max Yearly energy/GSF: {{areaenergyHigh}} kwH/m. sq </span>
							<div> <span class="plotchoiceSpans"> Heatmap </span> <input type="checkbox" ng-model="areaenergyheatmapBool"><span class="plotchoiceSpans"> Show graph </span> <input type="checkbox" ng-model="showAreaEnergyGraph" ng-click="toggleAreaEnergyGraph()"></div> 
						</div>

					  	<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="monthPickerOptions" class="controlpanelSection" ng-show="areaenergyheatmapBool" id="monthpicker"></div>

 						<div class="controlpanelSection" id="footprintcontrolpanelSection" ng-style="footprintStyle" ng-show="footprintstate">
							<h4 class="controlPanelHeaders"> <span> CO2 Footprint </span> </h4>
							<slider floor="0" ceiling="9000" step="1" precision="2" ng-model-low="footprintLow" ng-model-high="footprintHigh" class="controlSlider" ng-show="footprintstate"></slider>
							<span class="plotchoiceSpans"> Min Yearly Footprint: {{footprintLow}} kg CO2 </span><br>
							<span class="plotchoiceSpans"> Max Yearly Footprint: {{footprintHigh}} kg CO2 </span>
							<div> <span class="plotchoiceSpans"> Heatmap </span> <input type="checkbox" ng-model="footprintheatmapBool"><span class="plotchoiceSpans"> Show graph </span> <input type="checkbox" ng-model="showFootprintGraph" ng-click="toggleFootprintGraph()"></div>
						</div>

					  	<div uib-datepicker ng-model="footprint_dt" class="well well-sm" datepicker-options="monthPickerOptions" class="controlpanelSection" ng-show="footprintheatmapBool && (energystate || footprintstate || coststate)" id="footprint_monthpicker"></div>

					</div>
					<hc-chart options="chartOptions" id="ConsumptionPanel" ng-show="energystate && showEnergyGraph">
					</hc-chart>

					<hc-chart options="areaenergychartOptions" id="ConsumptionPanel" ng-show="energystate && showAreaEnergyGraph">
					</hc-chart>					

					<hc-chart options="footprintchartOptions" id="ConsumptionPanel" ng-show="footprintstate && showFootprintGraph">
					</hc-chart>
			
					<rank-chart options="rankchartOptions" id="RankingPanel" ng-show="heatmapBool || footprintheatmapBool || energyheatmapBool || areaenergyheatmapBool">
					</rank-chart>					

					<pie-chart options="populationPieChartOptions" id="populationPieChart" ng-show="isBldgClicked" ng-style="populationPieChartStyle">
					</pie-chart>					

					<pie-chart options="energyusagePieChartOptions" id="energyusagePieChart" ng-show="isBldgClicked && energystate" ng-style="energyusagePieChartStyle">
					</pie-chart>					

<!-- 					<pie-chart options="energyusePieChartOptions" id="energyusePieChart" ng-show="isBldgClicked">
					</pie-chart> -->

					<!-- <div class="panel panel-default" id="otherPanel" ng-show="outputConsumption == 'EnergyDistribution'" > ANOTHER PLOT...</div> -->
   
