		    	<!-- <div id="rightContainer" > -->
			    	<descriptionpanel-directive class="panel panel-default" id="buildingPanel">
																												  
<!-- 			    	
						<div class="panel-heading" id=buildingPanelHeading>
							<h3 class="panel-title" id="buildingPanelTitle">
								<span> {{mouseOverBuildingName}} </span>
							</h3>
						</div>
						<div class="panel-body" id="buildingPanelBody" >
					        <table class="table" id="paramstable">
					          <tr ng-repeat="param in currentparams">
					            <td>{{param.name}}</td>
					            <td>{{param.value}}</td>
					          </tr>					   
						    </table>
						</div> -->
					</descriptionpanel-directive>
					<a href="#">
						<div id="costButtonPanel">
							<img ng-src="{{costimg}}" class="buttonLogoImg" ng-click="togglecost()"/>
						</div>
					</a>					
					<a href="#">
						<div id="energyButtonPanel">
							<img ng-src="{{energyimg}}" class="buttonLogoImg" ng-click="toggleenergy()"/>
						</div>
					</a>		
					<a href="#">
						<div id="footprintButtonPanel">
							<img ng-src="{{footprintimg}}" class="buttonLogoImg" ng-click="togglefootprint()"/>
						</div>
					</a>
					<div class="panel panel-default" id="controlPanel" > 
<!-- 						<div class="controlpanelSection">
							<h4 class="controlPanelHeaders"> <span> Visible plot </span> </h4>
							<div>
							  <input type="radio" defaultChecked="true" value="EnergyConsumption" ng-model="outputConsumption">
							  <span class="plotchoiceSpans"> Energy Consumption </span>
						  	</div>
						  	<div>
							  <input type="radio" value="EnergyDistribution" ng-model="outputConsumption">
							  <span class="plotchoiceSpans"> Energy Distribution </span>
						 	</div>
						</div> -->
						<div class="controlpanelSection" id="costcontrolpanelSection" ng-style="costStyle" ng-show="coststate">
							<h4 class="controlPanelHeaders"> <span> Cost filter </span> </h4>
							<slider floor="0" ceiling="100" step="1" precision="2" ng-model-low="costLow" ng-model-high="costHigh" class="controlSlider"></slider>
							<span class="plotchoiceSpans"> Min Cost: {{costLow}} M$ - Max Cost: {{costHigh}} M$ </span>
							<div> <span class="plotchoiceSpans"> Cost Heatmap </span> <input type="checkbox" ng-model="heatmapBool"></div>


						</div>
						<div class="controlpanelSection" id="energycontrolpanelSection" ng-style="energyStyle" ng-show="energystate">
							<h4 class="controlPanelHeaders"> <span> Energy filter </span> </h4>
							<slider floor="0" ceiling="15000" step="1" precision="2" ng-model-low="energyLow" ng-model-high="energyHigh" class="controlSlider"></slider>
							<span class="plotchoiceSpans"> Min Yearly Energy: {{energyLow}} kwH </span>
							<span class="plotchoiceSpans"> Max Yearly Energy: {{energyHigh}} kwH </span>
							<div> <span class="plotchoiceSpans"> Energy Heatmap </span> <input type="checkbox" ng-model="energyheatmapBool"></div>
						</div>
						 <!-- <div class="controlpanelSection" ng-show="energyheatmapBool"> -->
					  	<div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="monthPickerOptions" class="controlpanelSection" ng-show="energyheatmapBool" id="monthpicker"></div>
						 <!-- </div> -->
 						<div class="controlpanelSection" id="footprintcontrolpanelSection" ng-style="footprintStyle" ng-show="footprintstate">
							<h4 class="controlPanelHeaders"> <span> CO2 Footprint filter </span> </h4>
							<slider floor="0" ceiling="9000" step="1" precision="2" ng-model-low="footprintLow" ng-model-high="footprintHigh" class="controlSlider" ng-show="footprintstate"></slider>
							<span class="plotchoiceSpans"> Min Yearly Footprint: {{footprintLow}} kg CO2 </span>
							<span class="plotchoiceSpans"> Max Yearly Footprint: {{footprintHigh}} kg CO2 </span>
							<div> <span class="plotchoiceSpans"> Footprint Heatmap </span> <input type="checkbox" ng-model="footprintheatmapBool"></div>
						</div>
					  	<div uib-datepicker ng-model="footprint_dt" class="well well-sm" datepicker-options="monthPickerOptions" class="controlpanelSection" ng-show="footprintheatmapBool" id="footprint_monthpicker"></div>
					</div>
					<hc-chart options="chartOptions" id="ConsumptionPanel" ng-show="energystate">
					</hc-chart>					
					<hc-chart options="footprintchartOptions" id="FootprintPanel" ng-show="footprintstate">
					</hc-chart>
					<!-- <div class="panel panel-default" id="otherPanel" ng-show="outputConsumption == 'EnergyDistribution'" > ANOTHER PLOT...</div> -->
   
