html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#topnavbar{ 
	margin:0px;
 }

#renderCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

#rightContainer { 
	overflow-y: auto;
	position: absolute;
	top: 1%;
	left: 75%;
	width: 23%;
	height: 90%;
	/*opacity: 0.5;*/
	margin:0px;
/*	border: 3px solid transparent;
	border-color: #346562;
	border-radius: 5px;*/
	background-color: rgba(0,0,0,0.2)
 }

/*#panelsBar { 
	position: absolute; 
	top: 1%;
	left: 98%;
	width:1.5%;
	height:90%;
 }*/
#controlPanel { 
	position: absolute;
	top: 13%;
	left: 1%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(0,0,0,0)
 }

 #editbuildingPanel { 
	position: absolute;
	top: 40%;
	left: 1%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 } 

 #buildingcreatorPanel { 
	position: absolute;
	top: 5%;
	left: 84%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 }  

 #editFleetPanel { 
	position: absolute;
	top: 15%;
	left: 84%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 }  

 #titleScenarioPanel { 
	position: absolute;
	top: 10%;
	left: 1%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 } 

 #loadScenarioPanel { 
	position: absolute;
	top: 16%;
	left: 1%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 }  

 #loadScenarioPanelViewmode { 
	position: absolute;
	top: 3.5%;
	left: 55%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 } 

 #saveScenarioPanel { 
	position: absolute;
	top: 26%;
	left: 1%;
	width: 15%;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 4px;
	background-color: rgba(60,60,60,0.5)
 }

.controlSlider {
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	color:white;
	background-color: #346562;
	width: 90%;
}

 .plotchoiceSpans { 
 	color:white;
 	margin-bottom:5px;
 	font-family: Verdana, Geneva, sans-serif;
  }

.controlPanelHeaders { 
 	margin:5px;
 	color:#ebb027;
 	font-family: Verdana, Geneva, sans-serif;
  }

.btn-group { 
	margin:5px;
}

.controlpanelSection { 
	background-color: rgba(120,120,120,0.2);
 	border: 0px solid transparent;
	border-radius: 6px;
	/*border-color: #346562;*/
 }
 #monthpicker { 
 	padding:0px;
 	height: 20%;
 	background-color: rgba(120,120,120,0);
 	border:0px;

 }
 #monthpicker > div { 
 	padding:0px;
 	background-color: rgba(120,120,120,0);
 	border:0px;
 }
#monthpicker > div > div > table { 
  	width:100%;
 	padding:0px;
 	background-color: rgba(120,120,120,0);
 	border:0px;
 }
#monthpicker > div > div > table > thead > tr > th > button { 
 	background-color: rgba(120,120,120,0.15);
 }
#monthpicker > div > div > table > thead > tr > th > button > strong { 
 	color: rgb(255,255,255);
 }
 #monthpicker > div > div > table > thead > tr > th > button > i { 
 	color: rgb(255,255,255);
 }
#monthpicker > div > div > table > tbody > tr > td > button { 
 	background-color: rgba(120,120,120,0.15);
 }
#monthpicker > div > div > table > tbody > tr > td > button.active { 
 	background-color: rgba(120,120,120,0.35);
 }
#monthpicker > div > div > table > tbody > tr > td > button[disabled] { 
 	background-color: rgba(120,120,120,0.9);
 }
#monthpicker > div > div > table > tbody > tr > td > button > span { 
 	color: rgb(255,255,255)
 } 

#footprint_monthpicker { 
 	padding:0px;
 	height: 20%;
 	background-color: rgba(120,120,120,0);
 	border:0px;

 }
 #footprint_monthpicker > div { 
 	padding:0px;
 	background-color: rgba(120,120,120,0);
 	border:0px;
 }
#footprint_monthpicker > div > div > table { 
  	width:100%;
 	padding:0px;
 	background-color: rgba(120,120,120,0);
 	border:0px;
 }
#footprint_monthpicker > div > div > table > thead > tr > th > button { 
 	background-color: rgba(120,120,120,0.15);
 }
#footprint_monthpicker > div > div > table > thead > tr > th > button > strong { 
 	color: rgb(255,255,255);
 }
 #footprint_monthpicker > div > div > table > thead > tr > th > button > i { 
 	color: rgb(255,255,255);
 }
#footprint_monthpicker > div > div > table > tbody > tr > td > button { 
 	background-color: rgba(120,120,120,0.15);
 }
#footprint_monthpicker > div > div > table > tbody > tr > td > button.active { 
 	background-color: rgba(120,120,120,0.35);
 }
#footprint_monthpicker > div > div > table > tbody > tr > td > button[disabled] { 
 	background-color: rgba(120,120,120,0.9);
 }
#footprint_monthpicker > div > div > table > tbody > tr > td > button > span { 
 	color: rgb(255,255,255)
 }



 #energycontrolpanelSection { 
    margin-top:5%;
    margin-bottom:2%;
 } 
 #footprintcontrolpanelSection { 
    margin-top:5%;
    margin-bottom:2%;
 }


#buildingPanel { 
	position: absolute;
	top: 3.5%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
/*	border: 3px solid transparent;
	border-color: #346562;*/
	border-radius: 6px;
	background-color: rgba(120,120,120,0.2)
 }


 .heatmapLegend { 
	position: absolute;
	top: 3.5%;
	left: 60%;
	height: 14%;
	width: 8%; 
/*	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;*/
/*	background-color: rgba(150,150,150,0.2);*/

 } 

 .heatmapLegend img{
 	height: 100%; 
 	width: 100%;
 }

 #heatmapTitle{
	position: absolute;
	top: 3.5%;
	left: 44%;
	width: auto;
	height: auto;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(0,0,0,0);
	color:white;
 }

 #heatmapTitle > span{
 	font-size: 150%;
 }

#buildingsButtonPanel { 
	position: absolute;
	top: 3.5%;
	left: 20%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 } 

#transportationButtonPanel { 
	position: absolute;
	top: 3.5%;
	left: 25%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 } 

 #safetyButtonPanel { 
	position: absolute;
	top: 3.5%;
	left: 30%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 } 

 #costButtonPanel { 
	position: absolute;
	top: 12%;
	left: 20%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 } 

 #energyButtonPanel { 
	position: absolute;
	top: 12%;
	left: 25%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 }  

 #footprintButtonPanel { 
	position: absolute;
	top: 12%;
	left: 30%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 } 

 #populationButtonPanel { 
	position: absolute;
	top: 12%;
	left: 35%;
	width: 4%;
	height: 7%;
	margin:0px;
	border: 0px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(150,150,150,0.2)
 }

.buttonLogoImg{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	width: auto;
	height: 90%;
 }



#ConsumptionPanel { 
 	position: absolute;
	top: 35%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
/*	border: 3px solid transparent;
	border-color: #346562;*/
	border-radius: 6px;
	background-color: rgba(60,60,60,0.2); 
}

#FootprintPanel { 
 	position: absolute;
	top: 65%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
/*	border: 3px solid transparent;
	border-color: #346562;*/
	border-radius: 6px;
	background-color: rgba(60,60,60,0.2); 
}

#RankingPanel { 
 	position: absolute;
	top: 65%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
/*	border: 3px solid transparent;
	border-color: #346562;*/
	border-radius: 6px;
	background-color: rgba(60,60,60,0.2); 
}

#otherPanel { 
 	position: absolute;
	top: 35%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
	border: 5px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.2); 
}

/*#populationPieChart{
 	position: absolute;
	top: 3.5%;
	left: 50%;
	width: 8%;
	height: 8%;
	margin:0px;
	background-color: rgba(0,0,0,0.2); 
}*/

/*#energyusagePieChart{
 	position: absolute;
	top: 3.5%;
	left: 50%;
	width: 8%;
	height: 8%;
	margin:0px;
	background-color: rgba(0,0,0,0.2); 
}*/

#populationPieChart > div > svg > g{
	background-color: rgba(0,0,0,0.2); 
	width: 100%;
	height: 100%;
}
#energyusagePieChart > div > svg > g{
	background-color: rgba(0,0,0,0.2); 
	width: 100%;
	height: 100%;
}

/*#divstatisticsPanel { 
 	position: absolute;
	top: 35%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
	border: 5px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.2); 
}*/

#panel3{
 	position: absolute;
	top: 65%;
	left: 74%;
	width: 25%;
	height: 25%;
	margin:0px;
	border: 5px solid transparent;
	border-color: #346562;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.2); 
}
/*#asdl_logo {
	position: absolute;
	top: 3%;
	left: 2%;
	width: 5%;
	height: auto;
}

#asdl_logo img {
	width: 100%;
	height: 100%;
}*/

#gt_logo {
	position: absolute;
	top: 3.5%;
	left: 1%;
	width: 15%;
	height: auto;
}

#gt_logo img {
	width: 100%;
	height: 100%;
}

#spanname{
	position: absolute;
	top: 5%;
	left: 20%;
	width: 18%;
	height: 40%;
	/*opacity: 0.5;*/
	margin:0px;
	color: white;
}

#buildingPanelBody {
	background-color: inherit;
	width: 100%;
	height:80%;
	padding:3px;
	overflow-y: auto;  
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

#buildingPanelBody span {
	color: white;
}

#buildingPanelBody table tr td {
	color: white;
}

#buildingPanelBody table {
	color: white;
}


#buildingPanelHeading{ 
	background-color: inherit;
/*	border-bottom: 3px solid transparent;
	border-color: #346562;*/
 	width: 100%;
	height:10%;
	padding: 3px;
 }

#buildingPanelHeading span{
	color: white; 
	
}

/*#buildingPanelTitle{
	color:#ebb027;
}*/

/*#buildingPanelTitleSpan {
	color:#ebb027;
}*/


#buildingPanelToggle{ 
	border-bottom: 3px solid transparent;
	border-color: #346562;
	background-color: inherit;
 	width: 100%;
	height:10%;
	margin:0px;
	padding:0px;
 }

 #toggleButtons { 	
 	width: 100%;
 	height: 100%;
	padding: 3px;
 }

 #campusToggleButton{
 	width: 50%;
 	height: 100%;
 	padding:1px;
 }

 #buildingToggleButton{
 	width: 50%;
 	height: 100%;
 	padding:1px;
 }

#campusWord { 
 	font-size: 0.8vw;
 }

 #buildingWord { 
 	font-size: 0.8vw;
 }




#canvasContainer {
    width: 100%;
    height: 100%;
    position: relative;

/*    touch-action: none;*/
}

/*.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

*/